body {
        background-image:url("../media/jif.png");
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        background-attachment: fixed;}

        
#currentTheme {
        margin-bottom:2rem;
}

.gif-holder  {
        float:left;
}
.theme-div {
        position:relative;
        float:left;
}
